{:paths   ["src"]
 :deps    {babashka/process {:mvn/version "0.6.25"}}
 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                    :main-opts   ["-m" "kaocha.runner"]}
           :dev    {:extra-paths ["dev"]}
           :build  {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                                 slipset/deps-deploy           {:mvn/version "0.2.5"}}
                    :ns-default build}
           :neil   {:project {:name        com.outskirtslabs/sops
                              :url         "https://github.com/outskirtslabs/sops"
                              :license     {:id "MIT"}
                              :description "An extremely tiny and simple wrapper around the awesome sops (previously known as mozilla/sops)"
                              :platforms   [:clj :bb]
                              :created     "2025-10-03"
                              :status      :maturing
                              :version     "0.1.0"}}}}
